*, *:after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');

* { font-family: 'Spinnaker', sans-serif; }

body {
  background-image: url("https://images.pexels.com/photos/12041827/pexels-photo-12041827.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.357);
  background-blend-mode: darken;
  width: 100%;
}

nav {
  margin-top: 20px;
  background-color: white;
  margin-left: 0 !important;
  ul {
    list-style-type: none;
    flex-direction: row;
    display: flex;
    font-size: 20px;
    text-align: center;
    justify-content: space-around;
    padding: 15px;
    font-weight: 700;
  }
  a {
    //text-decoration: none;
    color: black;
  }
}

h1 {
  text-align: center;
  font-size: clamp(80px, 4vw, 110px);
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  
  // background: #121FCF;
  // background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;

  //text-shadow: 0px 0px 0px white;
}

.main-container {
  width: clamp(90%, 4vw, 70%);
  margin: 0 auto;

  .text {
    font-size: clamp(1.0rem, 4vw, 1.3rem);
    color: white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
  }
}

.ant-list-item {
 background-color: rgba(245, 245, 245, 0.667);
}

footer {
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
  p, a {
    color: white;
    text-shadow: 4px 4px 10px black;
  }
  a:hover {
    color: red;
  }
}

//-----------

.ant-form-item-required {
  color: white !important;
}
